body{display: flex; justify-content: center; align-items: center; height: 95vh;}
#stopWatch{
    background: rgb(7, 7, 7);
    max-width: 800px;
    color: #fff;
    font-size: 150px;
    padding: 20px;
    border-radius: 15px 15px 0 0px;

}
#startStopBtm{
    background: tomato;
    font-size: 25px;
    padding: 10px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
}
#startStopBtm:hover{background: #8b1b1b;}